.mt-10 {
  margin-top: 10rem !important;
}
.main-bg {
  color: hsl(324, 70%, 45%);
  animation: wheelHueColor 10s infinite;
  background-color: currentColor;
}
@supports (background-blend-mode: overlay) {
  .background {
    background-image: linear-gradient(45deg, white 10%, black 90%);
    background-blend-mode: overlay;
  }
}
@keyframes wheelHueColor {
  from,
  to {
    color: hsl(271, 100%, 33%);
  }
  10% {
    color: hsl(273, 100%, 50%);
  }
  20% {
    color: hsl(266, 100%, 31%);
  }
  30% {
    color: hsl(305, 97%, 27%);
  }
  40% {
    color: hsl(286, 100%, 30%);
  }
  50% {
    color: hsl(266, 100%, 65%);
  }
  60% {
    color: hsl(271, 93%, 47%);
  }
  70% {
    color: hsl(216, 60%, 45%);
  }
  80% {
    color: hsl(252, 65%, 50%);
  }
  90% {
    color: hsl(288, 60%, 40%);
  }
}
